<!DOCTYPE html>
<html>
  <head>
    <title>Bank</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="announcement">
          <div class="announcement_wrapper">
            <h6 class="announcement_text"> &#127881  Announcing our $500million series A funding by payzella </h6>
          <button class="announcement_btn">Learn More</button>
          </div>
          
        </div>

        <div class="nav_bar">
          <div class="div1">
            <div class="logo">
              <h2>SabiPay</h2>
            </div>

            <div class="menu">
              <ul class="menu_list">
                <li class="list-item" ><a href="/dashboard">Products</a></li>
                <li class="list-item" ><a href="/dashboard">Services</a></li>
                <li class="list-item"><a href="/dashboard">Integrations</a></li>
                <li class="list-item"><a href="/dashboard">Resources</a></li>
              </ul>
            </div>

            <div class="auth">
              <a href="/login"> Sign In</a>
              <a href="/signup"  class="signup_btn">Open an accunt &#8599</a>
            </div>
          </div>

        </div>

      </div>

      <div class="section1">
        <div class="txt1">
          <p class="p_txt1">Whatever your size, sector of stage of growth 	&#128077</p>
        </div>
        <div class="txt2">
          <p>The modern <span class="fin">finance</span> platform.</p>
          <p>All your business in one app.</p>
        </div>
        <div class="txt3">
          <p class="ptxt_3">Keep your business account needs safely organized under <br> one roof. Manage money quickly, easily and efficiently.</p>
        </div>
        <div class="cta">
          <button class="signup_btn">Discover out offers &#8599</button>
          <button>Learn more</button>
        </div>
        <div class="landing_img">
          <img src="/images/landing.png" alt="Landing Image" srcset="">
        </div>
      </div>
      <div class="section2">
        <div class="txt2_1">
          <p class="companies_txt">The fastest growing Companies use Momento</p>
        </div>
        <div class="companies">
          <img  class="companies_img" src="/images/openai.png" alt="" srcset="">
          <img  class="companies_img" src="/images/openai.png" alt="" srcset="">
          <img  class="companies_img" src="/images/openai.png" alt="" srcset="">
          <img  class="companies_img" src="/images/openai.png" alt="" srcset="">
          <img  class="companies_img" src="/images/openai.png" alt="" srcset="">
        </div>
      </div>
      <div class="section3">
        <div class="txt1 custom">
          <p class="p_txt1">CUSTOM CARD</p>
        </div>
        <div class="txt2"><p>Customized cards available with every plan.</p></div>
        <div class="txt3"><p class="ptxt_3">Pay securely online an in-store with physical and virtual cards. Transparent <br> pricing- no hidden fees. monthly payment limits up to $60,000.</p></div>
        <div class="cards_row"> 
          <div class="discover_cards">
            <p class="cards_txt">Discover the <br> Momento Card</p>
            <button class="signup_btn"> Download in PDF Format &#8595</button>
          </div>
          <div><img class="cards_img" src="/images/plus.png" alt="" srcset=""></div>
          <div><img class="cards_img" src="/images/premium.png" alt=""></div>
        </div>
      </div>
      <div class="section4">
        <p class="sign_txt">Sign up in Minute, Join the movement</p>
        <p class="sign_txt2">"Sign up for Momento to effortlessly manage your finances, track spending, <br> and gain personalized insights for smarter money decisions."</p>
        <div>
          <button class="signup_btn">Open an Account &#8599</button>
          <button>Book a Demo</button>
        </div>
      </div>



      <div class="footer">

      </div>

    </div>
  </body>
</html>
